In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Data.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

In [3]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [5]:
from sklearn.impute import SimpleImputer
import numpy as np

# Initialize the SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

# Fit the imputer to the data and transform it
X[:, 1:3] = imputer.fit_transform(X[:, 1:3])

In [7]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

# Encoding the Independent Variable
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])

# Apply OneHotEncoder to the first column
ct = ColumnTransformer(
    transformers=[
        ('onehot', OneHotEncoder(), [0])
    ],
    remainder='passthrough'
)

X = ct.fit_transform(X)

# Optional: Scaling features (if needed)
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [8]:
# Optional: Scaling features (if needed)
scaler = StandardScaler()
X = scaler.fit_transform(X)

labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [9]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])